.site-footer {
    clear: both;
    text-align: center;
    color: $color__text-footer;

    .site-info {
        list-style: none;
        padding: ms(2);
        margin-bottom: ms(0);
        li {
            display: block;
            text-transform: uppercase;
            font-size: ms(-3);
            letter-spacing: ms(-15);
            margin: 0;
        }
    }
    a {
        display: inline-block;
        padding: ms(-2);
        color: $color__link-footer;
        text-decoration: none;
        &:hover {
            color: $color__link-footer-hover;
        }            
    }
}